@model registrationform_assignment_dbms.Models.Class1

@{
    ViewBag.Title = "checking";
}

<h2>checking</h2>
@Html.BeginForm()
@Html.TextBox("name", new {@class="form-control" })

<input type="submit" value="save" />